* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    color: #333;
}

.header {
    text-align: center;
    background-color: #4CAF50;
    color: white;
    padding: 1rem;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1em;
    padding: 0;
}

nav a {
    color: white;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

nav a:hover {
    transform: scale(1.1);
}

#about-me,
#news-block {
    max-width: 80%;
    margin: auto;
    padding: 1rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,.1);
    margin-bottom: 2rem;
}

#news-container article {
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: #eaeaea;
    border-radius: 8px;
}

#news-container h3 {
    margin-top: 0;
}

.footer {
    text-align: center;
    background-color: #4CAF50;
    color: white;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.contact-info span {
    display: block;
    margin-bottom: 0.5rem;
}

.contact-info a {
    color: inherit;
    text-decoration: underline;
}
/* Начальная позиция пунктов меню */
nav ul li a {
    opacity: 0;
    transform: translateX(-20px);
    transition: opacity 0.5s, transform 0.5s;
}

/* Отмена стандартных эффектов */
nav a {
    color: white;
    text-decoration: none;
}
/*Резюме*/
/* Основная сетка для карточек */
#resume-cards {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}

.card {
    width: 300px;
    height: 300px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s;
    position: relative;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
}

.card:hover img {
    transform: scale(1.1);
}

.card-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s;
}

.card:hover .card-text {
    visibility: visible;
    opacity: 1;
}

.card-text h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.card-text p {
    font-size: 1rem;
    text-align: center;
}
/* Хобби */
/* Основная сетка для блоков хобби */
#hobby-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
    padding: 2rem;
}

.hobby-item {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.3s;
}

.hobby-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.3s;
}

.hobby-item:hover img {
    filter: grayscale(50%);
}

.hobby-details {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s;
}

.hobby-item:hover .hobby-details {
    visibility: visible;
    opacity: 1;
}

.hobby-details h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.hobby-details p {
    font-size: 1rem;
    text-align: center;
}
/*Фотографии*/
#photo-gallery {
    position: relative;
    max-width: 800px; 
    margin: auto;
}

.slideshow-container {
    position: relative;
    perspective: 1000px;
}

.slides {
    display: none;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
}


.slides img {
    width: 800px; 
    height: 500px; 
    object-fit: cover; 
    object-position: center; 
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
}

.next {
    right: 0;
}

.prev {
    left: 0;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.dots {
    text-align: center;
    margin-top: 10px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;

}
